{{- define "dashboard_layout_content" -}}
	<div class="row">
		<div class="col">
			<h1>Projects</h1>
		</div>
	</div>
	{{- range .Data }}
		<div class="row">
			<div class="col w-100">
				{{ template "project_card" . }}
			</div>
		</div>
		<hr>
	{{- end }}
{{- end -}}

{{- define "project_card" -}}
<div class="">
	<div class="">
		{{ .Name }}
	</div>
	<div class="">
		{{ .Description }}
	</div>
	<div class="">
		<div>
			<a href="{{ link_projectDetails .Id }}"><button type="button">Open</button></a>
		</div>
	</div>
</div>
{{- end -}}
